<body>
  
<p id='header'><%= @blog.title%></p>
<p><%= @blog.content%></p>
<%= @blog.userid %>
<% if @user != nil %>
  <% if @blog.userid == @user.id %>
    <form method="POST" action="/deleteBlog/<%= @blog.id %>">
      <input type="submit" value="Delete">
    </form>
    <form method="GET" action="/updateBlog/<%= @blog.id %>">
      <input type="submit" value="Update">
    </form>
    <% end %>
<% end %>

</body>