<body>
  
<p id='header'><%= @blog.title%></p>
<p><%= @blog.content%></p>
<%= @blog.userid %>
<%= @user.id %>
<% if @blog.userid == @user.id %>
  <form method="POST" action="/deleteBlog/<%= @blog.id %>">
    <input type="submit" value="Delete">
  </form>
  <% end %>

</body>