<body>

<p id='header'>Current User</p>

<div>
	<a href='/current/<%= @user.id %>/edit'>
		<p id='header'>
			<%=@user.username%>
		</p> 	
	</a>
</div>

<div>
  <form method="POST" action="/createBlog">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" maxlength="150"></textarea>
    <input type="submit" value="Post">
  </form>
<div>


<% @blogs.reverse.each do |b| %>

    <div>
    	<a href='blogs/<%= b.id %>'>
    		<p id='header'>
    			<%= b.title %>
    		</p>
		</a>
    </div>
   		
	<div>
    	<p id='content'>
			<%= b.content %>
		</p>
	</div>
<% end %>
  <hr>
  <hp id='header'>Logout</p>
<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>

</body>