<body>

  <!-- <div id='box1'> -->
    <p id='header'>Current User</p>
  	<a href='/current/<%= @user.id %>/edit'>
  		<p id='header'>
  			<%=@user.username%>
  		</p> 	
  	</a>
 <!--  </div> -->

  <br>

  <div id='box1'>
    <p id='header'>Make a Post</p>
    <form method="POST" action="/createBlog">
      <input type="text" name="title" placeholder="Title">
      <br>
      <textarea name="content" maxlength="150"></textarea>
      <br>
      <button type="submit" value="Post">Post</button>
    </form>
  </div>
  <br>

  <% @blogs.reverse.each do |b| %>
    <div id='box1'>
      <a href='/blogs/<%= b.id %>'>
        <p id='header'>
        	<%= b.title %>
        </p>
        <p id='content'>
    			<%= b.content %>
    		</p>
      </a>
  	</div>
    <br>
  <% end %>

  <hr>

  <p id='header'>Logout</p>
  <form action='/logout' method='post'>
  	<button type="submit" value="Logout">Logout</button>
  </form>

<hr>
<p id='header'>Delete</p>
<form action='/delete_user/current' method='post'>
  <button type="submit" value="Delete User">Delete User</button>
</form>





</body>